# Hypohesis Testing

In [1]:
import numpy as np

In [20]:
def two_tail_z_test(mu,x,n,s):       
    res=np.abs((x-mu))/(s/np.sqrt(n))
    return res

In [21]:
def one_tail_z_test(x1,x2,n1,n2,s1,s2):
    res=np.abs(x1-x2)/np.sqrt((np.square(s1)/n1)+(np.square(s2)/n2))
    return res

In [22]:
mu,x,n,s=30,31,50,2

In [23]:
two_tail_z_test(mu,x,n,s)

np.float64(3.5355339059327378)

In [11]:
x1,x2,n1,n2,s1,s2=78,82,60,70,10,12

In [12]:
one_tail_z_test(x1,x2,n1,n2,s1,s2)

np.float64(2.072842297864422)

In [24]:
# # A marketing team tests two different advertisements. Ad A (n=150) results in an average sales increase of $200 with a standard deviation of
# $50, and Ad B (n=160) results in an average sales increase of $210 with a standard deviation of $55.
# Determine if there is a significant difference in the effectiveness of the two ads at an alpha level of 0.01.

In [26]:
h0="There is no any significance difference in both advertisements"
ha="There is significance differene in bth advertisements"

In [27]:
x1,x2,n1,n2,s1,s2=200,210,150,160,50,55

In [28]:
z_comp=one_tail_z_test(x1,x2,n1,n2,s1,s2)

In [29]:
z_comp

np.float64(1.6766416967287225)

In [30]:
z_tab=2.33

In [31]:
if z_tab > z_comp:
    print("Accept the null hypothesis",h0)
else:
    print("Reject the null hypothesis",ha)

Accept the null hypothesis There is no any significance difference in both advertisements

In [32]:
 # A teacher claims that the average score of her class on a final exam is 75. A sample of 15 students has a
# mean score of 72 with a standard deviation of 8. Test the teacher's claim at an alpha level of 0.05.

In [35]:
from scipy.stats import ttest_1samp,ttest_ind,spearmanr,shapiro,chi2_contingency

In [74]:
marks=np.random.normal(72,8,15)
marks.mean(),marks.std()

(np.float64(72.80367129262233), np.float64(7.739677533687862))

In [75]:
marks

array([63.99987557, 74.44558393, 70.09258927, 86.42986203, 57.33468697,
       72.29064965, 70.82203556, 65.17744131, 69.90517121, 70.77716513,
       73.78093578, 72.19289817, 86.71271129, 74.66350596, 83.42995755])

In [83]:
stat_val,p_val=ttest_1samp(marks,75)

* ttest_1samp function in SciPy is used to perform a one-sample t-test.

In [84]:
stat_val,p_val

(np.float64(-1.061789654152116), np.float64(0.3063049941792448))

In [78]:
alpha = 0.05

In [81]:
h0="Average score is 75"
ha="Average score is not 75"

In [82]:
if alpha < p_val:
    print("Accept the null hypothesis",h0)
else:
    print("Reject the null hypothesis",ha)

Accept the null hypothesis Average score is 75

In [85]:
# A brewery claims that their beer contains 5% alcohol by volume. A sample of 20 bottles shows a mean
# alcohol content of 4.8% with a standard deviation of 0.3%. Test the brewery's claim at an alpha level of 0.01.

In [92]:
alc=np.random.normal(4.8,0.3,20)
alc.mean(),alc.std()

(np.float64(4.783801396280753), np.float64(0.32071408121595657))

In [93]:
h0="Average alcohol contain is 5%"
ha="Average alcohol is not 5%"

In [94]:
alpha=0.01

In [95]:
stat_val,p_val=ttest_1samp(alc,5)

In [96]:
stat_val,p_val

(np.float64(-2.9384050172472103), np.float64(0.008434804169467071))

In [97]:
if alpha < p_val:
    print("Accept the null hypothesis",h0)
else:
    print("Reject the null hypothesis",ha)

Reject the null hypothesis Average alcohol is not 5%

In [98]:
 # A manufacturer claims that the average lifetime of their light bulbs is 1000 hours. A sample of 25 bulbs
# has a mean lifetime of 990 hours with a standard deviation of 15 hours. Test the manufacturer's claim at an alpha level of 0.10.

In [107]:
bulb_life=np.random.normal(990,15,25)
bulb_life.mean(),bulb_life.std()

(np.float64(991.7702340192683), np.float64(14.535553464004522))

In [113]:
h0="Average life of bulb is 1000 hours"
ha="Average life od bulb is not 1000 hours"

In [109]:
alpha=0.1

In [110]:
stat_val,p_val=ttest_1samp(bulb_life,1000)

In [111]:
stat_val,p_val

(np.float64(-2.773713076041973), np.float64(0.010553237804520936))

In [114]:
if alpha < p_val:
    print("Accept the null hypothesis",h0)
else:
    print("Reject the null hypothesis",ha)

Reject the null hypothesis Average life od bulb is not 1000 hours

In [115]:
# Two different teaching methods are tested for their effectiveness. Method A is used on a sample of 20
# students, resulting in a mean score of 85 with a standard deviation of 5. Method B is used on a sample
# of 22 students, resulting in a mean score of 88 with a standard deviation of 6. Test if there is a significant
# difference between the two methods at an alpha level of 0.05.

In [129]:
a=np.random.normal(85,5,20)
b=np.random.normal(88,6,22)

a.mean(),a.std(),b.mean(),b.std()

(np.float64(85.0144240129573),
 np.float64(4.58245207985263),
 np.float64(88.33072800224554),
 np.float64(6.1033883328462695))

In [147]:
h0="The method A is similar to method B"
ha="There is significant difference between method A and method B"

In [148]:
stat_val,p_val=ttest_ind(a,b)

In [149]:
alpha=0.05

In [150]:
if alpha < p_val:
    print("Accept the null hypothesis",h0)
else:
    print("Reject the null hypothesis",ha)

Accept the null hypothesis The method A is similar to method B